/* -- DEFAULT COLORS -- */


//Sass Color Variables
$sea-blue: #80BCA3;
$off-white: #F6F7BD;
$atari-brown: #56342B;
$retro-yellow: #E6AC27;
$burned-orange: #BF4D28;
$links: #0F8376;
$text: #5d4c38;
$ash: #655643;

p{
  color: $text;
}

h1,h2,h3,h4,h5,h6{
  color: $burned-orange;
}

body{
  background: $sea-blue;
}

a{
  color: $links;
  text-decoration: none;
  &:hover{
    color: rgba(15,131,118, .7)
  }
}

