/* -- TYPOGRAPHY -- */

//Import google fonts
@import url(http://fonts.googleapis.com/css?family=Arvo:400,700,400italic|Press+Start+2P);
.heading{
  text-align: center;
  h1{
    font-size: 2.75em;
    margin: 0;
  }
  h1, p{
    font-family: "Press Start 2P";
    color: $off-white;
  }
}

h1,h2,h3,h4,h5,h6{
  line-height: 1.5em;
  font-family: "Press Start 2P";
}

h1{
  font-size: 2em;
  margin: .67em 0;
}

h2{
  font-size: 1.5em;
  margin: .35em 0;
}

p{
  font-family: "Arvo";
  font-size: 1.1em;
  line-height: 1.4em;
  margin-bottom: 10px;
}
